## **Notebook Overview**

### **0.2.1 Project Overview**
This notebook builds upon the preprocessed data from the previous notebook (`01_data_loading_and_preprocessing.ipynb`) and focuses on feature selection, data preparation, and outlier handling. These steps involve refining the dataset by selecting the most relevant features, handling outliers by flagging them, and preparing the data for machine learning models.

### **0.2.2 Why is This Important?**
Effective feature selection and data preparation are critical to the success of machine learning projects. By reducing the dataset's complexity and addressing data quality issues such as missing values, outliers, and duplicates, we can improve model performance, interpretability, and generalization. Handling outliers is particularly important as they can skew predictions, and flagging them preserves potentially valuable information without directly altering the dataset.

### **0.2.3 Dataset Description**
We are continuing to work with the Home Credit dataset, which contains loan application data. This dataset includes a variety of features related to applicant demographics, financial history, and loan specifics. The data has already been cleaned and memory-optimized in the previous notebook. Now, we focus on feature reduction, outlier handling, and imputation of missing values.

### **0.2.4 Our Approach**
In this notebook, we will employ several techniques for feature selection, outlier handling, and data preparation:

1. **Missing Value Imputation:** We will use KNN imputation for numerical features and mode imputation for categorical features to handle missing data.
2. **Outlier Detection and Flagging:** We will identify outliers using statistical methods such as IQR or Z-scores and flag them by adding a binary feature to indicate the presence of outliers.
3. **Feature Reduction:** We will remove features with high percentages of missing values, low variance, or low correlation with the target variable, while ensuring essential features are retained.
4. **Duplicate Removal:** We will identify and remove duplicate rows to maintain data integrity.
5. **Save Preprocessed Data:** Save the prepared datasets in Parquet format for use in subsequent notebooks (EDA and modeling).

### **0.2.5 Additional Notes**
This notebook assumes that the preprocessed data from Notebook 1 is available in the `../data/processed/` directory. The refined data, with outliers flagged and irrelevant features removed, will be saved in the same directory for further exploration and modeling.

In [1]:
import polars as pl

from retail_bank_risk.data_preprocessing_utils import (
    initial_feature_reduction,
    impute_numerical_features,
    impute_categorical_features,
    count_duplicated_rows,
    analyze_missing_values,
    detect_anomalies_iqr,
    flag_anomalies,
)

In [2]:
application_train = pl.read_parquet(
    "../data/processed/application_train_preprocessed.parquet"
)
application_test = pl.read_parquet(
    "../data/processed/application_test_preprocessed.parquet"
)

**To improve our training and testing datasets, we will remove features based on missing values, variance, and correlation. Features with a missing value ratio above `missing_threshold` (50%) or a variance below `variance_threshold` will be removed.**

Columns with a variance less than or equal to 0.01 are considered to have insufficient variability and are removed from the dataset. This is because a variance of 0.01 implies very little change in the values of that feature, making it potentially less useful for distinguishing between different observations in predictive modeling tasks.

Additionally, we'll calculate the correlation between numerical features and the target variable (`target`). **We recognize the importance of income in credit risk assessment, so the `amt_income_total` feature will always be retained regardless of its correlation with the target.** Other features that show a low correlation with the target (absolute correlation value below the specified `correlation_threshold` - default 0.05) will be removed.

**This entire feature reduction process will be applied separately to the training and testing datasets. While the criteria (missing value, variance, and correlation thresholds) are determined from the training data, we'll use the same set of selected features to reduce both the training and test datasets.** This ensures consistency in our feature sets and prevents data leakage from the test set into the feature selection process.

This process will improve data quality, reduce dimensionality, and improve the performance of the credit risk model.

In [3]:
essential_features = [
    "sk_id_curr",
    "amt_income_total",
    "amt_credit",
    "amt_annuity",
    "amt_goods_price",
]
target_column = "target"

reduced_train, reduced_test = initial_feature_reduction(
    application_train,
    application_test,
    target_column,
    essential_features=essential_features,
)

print(f"Original number of features in train: {application_train.shape[1]}")
print(f"Number of features in reduced train: {reduced_train.shape[1]}")
print(f"Original number of features in test: {application_test.shape[1]}")
print(f"Number of features in reduced test: {reduced_test.shape[1]}")

sys:1: CategoricalRemappingWarning: Local categoricals have different encodings, expensive re-encoding is done to perform this merge operation. Consider using a StringCache or an Enum type if the categories are known in advance

Original number of features in train: 122
Number of features in reduced train: 28
Original number of features in test: 121
Number of features in reduced test: 27

In [4]:
reduced_train.head()

shape: (5, 28)
┌────────┬────────────┬────────────┬───────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ target ┆ days_last_ ┆ days_birth ┆ reg_city_ ┆ … ┆ amt_incom ┆ amt_credi ┆ amt_annui ┆ amt_goods │
│ ---    ┆ phone_chan ┆ ---        ┆ not_work_ ┆   ┆ e_total   ┆ t         ┆ ty        ┆ _price    │
│ i8     ┆ ge         ┆ i32        ┆ city      ┆   ┆ ---       ┆ ---       ┆ ---       ┆ ---       │
│        ┆ ---        ┆            ┆ ---       ┆   ┆ f32       ┆ f32       ┆ f32       ┆ f32       │
│        ┆ f32        ┆            ┆ i8        ┆   ┆           ┆           ┆           ┆           │
╞════════╪════════════╪════════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ 1      ┆ -1134.0    ┆ -9461      ┆ 0         ┆ … ┆ 202500.0  ┆ 406597.5  ┆ 24700.5   ┆ 351000.0  │
│ 0      ┆ -828.0     ┆ -16765     ┆ 0         ┆ … ┆ 270000.0  ┆ 1293502.5 ┆ 35698.5   ┆ 1.1295e6  │
│ 0      ┆ -815.0     ┆ -19046     ┆ 0         ┆ … ┆ 67500.0   ┆ 135000.0  ┆ 6750.0    ┆ 135000.0  │
│ 0      ┆ -617.0     ┆ -19005     ┆ 0         ┆ … ┆ 135000.0  ┆ 312682.5  ┆ 29686.5   ┆ 297000.0  │
│ 0      ┆ -1106.0    ┆ -19932     ┆ 1         ┆ … ┆ 121500.0  ┆ 513000.0  ┆ 21865.5   ┆ 513000.0  │
└────────┴────────────┴────────────┴───────────┴───┴───────────┴───────────┴───────────┴───────────┘

In [5]:
categorical_cols_train = [
    "region_rating_client",
    "region_rating_client_w_city",
    "reg_city_not_work_city",
    "target",
]

categorical_cols_test = [
    "region_rating_client",
    "region_rating_client_w_city",
    "reg_city_not_work_city",
]

reduced_train = reduced_train.with_columns(
    [
        pl.col(col).round(0).cast(pl.Int32).cast(pl.Utf8).cast(pl.Categorical)
        for col in categorical_cols_train
    ]
)

reduced_test = reduced_test.with_columns(
    [
        pl.col(col).round(0).cast(pl.Int32).cast(pl.Utf8).cast(pl.Categorical)
        for col in categorical_cols_test
    ]
)

As we have adjusted the categorical features, next, we'll identify and handle missing values in the remaining features. Afterward, we'll analyze feature importance to reduce noise and improve model performance.

Given the high number of features (84), we'll analyze the top 5 features in both the training and test datasets to understand their characteristics and determine the most suitable imputation method.

In [6]:
analyze_missing_values(reduced_train, reduced_test)

Top 5 columns with missing values in reduced train set:
shape: (5, 2)
┌─────────────────────┬────────────────────┐
│ column              ┆ missing_percentage │
│ ---                 ┆ ---                │
│ str                 ┆ f64                │
╞═════════════════════╪════════════════════╡
│ housetype_mode      ┆ 50.18              │
│ emergencystate_mode ┆ 47.4               │
│ occupation_type     ┆ 31.35              │
│ ext_source_3        ┆ 19.83              │
│ name_type_suite     ┆ 0.42               │
└─────────────────────┴────────────────────┘

Top 5 columns with missing values in reduced test set:
shape: (5, 2)
┌─────────────────────┬────────────────────┐
│ column              ┆ missing_percentage │
│ ---                 ┆ ---                │
│ str                 ┆ f64                │
╞═════════════════════╪════════════════════╡
│ housetype_mode      ┆ 48.46              │
│ emergencystate_mode ┆ 45.56              │
│ occupation_type     ┆ 32.01              │
│ ext_source_3        ┆ 17.78              │
│ name_type_suite     ┆ 1.87               │
└─────────────────────┴────────────────────┘

We can see that the credit risk dataset contains some missing values.

Because outliers might be significant in this context, reflecting genuine differences in individual risk levels, outlier treatment will not be performed before KNN imputation for numerical features.

In [7]:
reduced_train, reduced_test = impute_numerical_features(
    reduced_train, reduced_test, target_column
)

Next up, for categorical features with high missing value percentages, we will utilize mode imputation.

This approach, while potentially introducing bias, is deemed suitable due to its simplicity, minimal computational cost, and limited impact on overall dataset representation only few features.

In case of bad results, we could just drop them.

In [8]:
reduced_train, reduced_test = impute_categorical_features(
    reduced_train, reduced_test, target_column
)

/Users/vytautasbunevicius/retail-bank-risk-evaluation/src/retail_bank_risk/data_preprocessing_utils.py:273: CategoricalRemappingWarning: Local categoricals have different encodings, expensive re-encoding is done to perform this merge operation. Consider using a StringCache or an Enum type if the categories are known in advance
  train_df = train_df.with_columns(pl.col(col).fill_null("mode"))
/Users/vytautasbunevicius/retail-bank-risk-evaluation/src/retail_bank_risk/data_preprocessing_utils.py:274: CategoricalRemappingWarning: Local categoricals have different encodings, expensive re-encoding is done to perform this merge operation. Consider using a StringCache or an Enum type if the categories are known in advance
  test_df = test_df.with_columns(pl.col(col).fill_null("mode"))

Lastly, we confirm if all of the missing values were addressed.

In [9]:
analyze_missing_values(reduced_train, reduced_test)

No missing values found in the reduced train set.
No missing values found in the reduced test set.

Next, we'll address potential duplicate entries in our training dataset.

Although we removed the unique client identifier (`sk_id_curr`) during feature selection, we can still check for duplicates based on a combination of features that should be unique or nearly unique for a single loan application.

We'll focus on exact matches across these features, as even minor variations might represent distinct applications.

If we find any duplicates, we'll remove them to ensure the integrity and quality of our training data.

In [10]:
count_duplicated_rows(reduced_train)

The DataFrame contains 0 duplicated rows.

As we have found no duplicate values, there were no unique id, so we checked on our selected columns, and were seem to not find any of the duplicate values. Next up we will check for outliers, and flag them without removing, as the credit data is sensitive and may indicate sensitive information.

In [11]:
pd_application_train = reduced_train.to_pandas()
pd_application_test = reduced_test.to_pandas()

In [12]:
numerical_features_financial = [
    "ext_source_2",
    "ext_source_3",
    "amt_income_total",
    "amt_credit",
]

numerical_features_loan_specifics = ["amt_annuity", "amt_goods_price"]

numerical_features_timing_history = [
    "days_last_phone_change",
    "days_birth",
    "days_id_publish",
]

all_numerical_features = (
    numerical_features_timing_history
    + numerical_features_financial
    + numerical_features_loan_specifics
)

In [13]:
anomalies = detect_anomalies_iqr(pd_application_train, all_numerical_features)
print("Number of anomalies detected:", len(anomalies))

Anomalies detected in feature 'days_last_phone_change':
       reg_city_not_work_city region_rating_client_w_city  \
2847                        0                           2
2972                        0                           1
4533                        1                           3
4660                        0                           2
5599                        0                           1
...                       ...                         ...
304373                      0                           1
304395                      0                           2
304873                      0                           1
304878                      0                           2
306923                      1                           2

       region_rating_client name_contract_type code_gender flag_own_car  \
2847                      2         Cash loans           M            N
2972                      1    Revolving loans           F            Y
4533                      3    Revolving loans           M            Y
4660                      2         Cash loans           F            N
5599                      1         Cash loans           M            Y
...                     ...                ...         ...          ...
304373                    1         Cash loans           F            N
304395                    2         Cash loans           F            N
304873                    1         Cash loans           M            Y
304878                    2         Cash loans           M            N
306923                    2         Cash loans           M            Y

       flag_own_realty name_type_suite      name_income_type  \
2847                 Y   Unaccompanied               Working
2972                 N   Unaccompanied             Pensioner
4533                 Y   Unaccompanied               Working
4660                 Y   Unaccompanied             Pensioner
5599                 Y   Unaccompanied               Working
...                ...             ...                   ...
304373               Y   Unaccompanied             Pensioner
304395               N   Unaccompanied  Commercial associate
304873               N   Unaccompanied               Working
304878               Y   Unaccompanied             Pensioner
306923               N   Unaccompanied               Working

                  name_education_type  ... days_birth days_id_publish  \
2847    Secondary / secondary special  ...   -16176.0         -4254.0
2972                 Higher education  ...   -21352.0         -4839.0
4533                 Higher education  ...   -12331.0          -232.0
4660    Secondary / secondary special  ...   -20136.0         -3561.0
5599                Incomplete higher  ...   -17341.0          -897.0
...                               ...  ...        ...             ...
304373  Secondary / secondary special  ...   -23486.0         -4580.0
304395               Higher education  ...   -17342.0          -863.0
304873  Secondary / secondary special  ...   -14357.0         -4115.0
304878  Secondary / secondary special  ...   -21133.0         -4315.0
306923  Secondary / secondary special  ...   -19429.0         -2975.0

       ext_source_3 ext_source_2 sk_id_curr amt_income_total amt_credit  \
2847       0.239226     0.717584   103323.0         270000.0   630000.0
2972       0.591977     0.751686   103469.0         405000.0  1125000.0
4533       0.427657     0.501571   105303.0         193500.0   585000.0
4660       0.326475     0.659514   105448.0         184500.0   405000.0
5599       0.370650     0.727447   106554.0         540000.0   450000.0
...             ...          ...        ...              ...        ...
304373     0.661024     0.699295   452640.0         270000.0  1237954.5
304395     0.535276     0.692618   452665.0         225000.0  1395000.0
304873     0.288130     0.714360   453221.0         202500.0  1575000.0
304878     0.825636     0.275636   453226.0          90000.0   286704.0
306923     0.427657     0.157320   455594.0         135000.0   808650.0

        amt_annuity  amt_goods_price  target
2847        20322.0         630000.0       0
2972        56250.0        1125000.0       0
4533        29250.0         585000.0       0
4660        32125.5         405000.0       0
5599        43969.5         450000.0       0
...             ...              ...     ...
304373      64228.5        1170000.0       0
304395      57699.0        1395000.0       0
304873      43312.5        1575000.0       0
304878      14769.0         247500.0       0
306923      26217.0         675000.0       0

[435 rows x 28 columns]
No anomalies detected in feature 'days_birth'.
No anomalies detected in feature 'days_id_publish'.
No anomalies detected in feature 'ext_source_2'.
Anomalies detected in feature 'ext_source_3':
       reg_city_not_work_city region_rating_client_w_city  \
374                         0                           2
970                         0                           2
991                         0                           3
1152                        0                           2
1283                        1                           2
...                       ...                         ...
305434                      0                           2
305726                      1                           2
306408                      0                           2
306430                      0                           2
306557                      1                           2

       region_rating_client name_contract_type code_gender flag_own_car  \
374                       2         Cash loans           F            N
970                       2         Cash loans           M            N
991                       3         Cash loans           M            N
1152                      2         Cash loans           F            N
1283                      2         Cash loans           M            Y
...                     ...                ...         ...          ...
305434                    2         Cash loans           F            N
305726                    2         Cash loans           F            N
306408                    2         Cash loans           F            N
306430                    2         Cash loans           F            N
306557                    2         Cash loans           F            N

       flag_own_realty name_type_suite      name_income_type  \
374                  Y   Unaccompanied               Working
970                  Y   Unaccompanied               Working
991                  Y   Unaccompanied  Commercial associate
1152                 Y   Unaccompanied             Pensioner
1283                 Y          Family               Working
...                ...             ...                   ...
305434               Y   Unaccompanied             Pensioner
305726               Y   Unaccompanied  Commercial associate
306408               N   Unaccompanied  Commercial associate
306430               N   Unaccompanied               Working
306557               N   Unaccompanied               Working

                  name_education_type  ... days_birth days_id_publish  \
374     Secondary / secondary special  ...   -19642.0         -3101.0
970     Secondary / secondary special  ...   -15481.0         -1833.0
991     Secondary / secondary special  ...   -12102.0         -3708.0
1152    Secondary / secondary special  ...   -21031.0         -2346.0
1283    Secondary / secondary special  ...   -17714.0         -1268.0
...                               ...  ...        ...             ...
305434  Secondary / secondary special  ...   -23477.0         -5025.0
305726  Secondary / secondary special  ...   -18099.0         -1352.0
306408  Secondary / secondary special  ...   -17717.0         -1252.0
306430  Secondary / secondary special  ...   -17650.0         -1197.0
306557  Secondary / secondary special  ...   -13612.0         -3842.0

       ext_source_3 ext_source_2 sk_id_curr amt_income_total amt_credit  \
374        0.000527     0.414193   100431.0         157500.0  1724220.0
970        0.000527     0.715745   101121.0         180000.0   436032.0
991        0.000527     0.337314   101147.0         315000.0  1165500.0
1152       0.000527     0.129915   101350.0          54000.0    81504.0
1283       0.000527     0.619507   101512.0         135000.0   990000.0
...             ...          ...        ...              ...        ...
305434     0.000527     0.358850   453870.0          70200.0   239850.0
305726     0.000527     0.630745   454217.0         202500.0  1024740.0
306408     0.000527     0.530252   455001.0         108000.0   840951.0
306430     0.000527     0.631600   455029.0          94500.0    90000.0
306557     0.000527     0.650904   455177.0         112500.0   360000.0

        amt_annuity  amt_goods_price  target
374         47542.5        1350000.0       0
970         20326.5         360000.0       1
991         34209.0        1165500.0       1
1152         7866.0          72000.0       0
1283        29074.5         990000.0       0
...             ...              ...     ...
305434      23850.0         225000.0       0
305726      52452.0         900000.0       0
306408      33349.5         679500.0       0
306430       8671.5          90000.0       0
306557      17509.5         360000.0       1

[909 rows x 28 columns]
Anomalies detected in feature 'amt_income_total':
       reg_city_not_work_city region_rating_client_w_city  \
7                           1                           3
22                          0                           2
33                          1                           2
49                          1                           2
51                          0                           2
...                       ...                         ...
307460                      1                           2
307477                      0                           2
307484                      0                           1
307492                      0                           2
307496                      0                           2

       region_rating_client name_contract_type code_gender flag_own_car  \
7                         3         Cash loans           M            Y
22                        3         Cash loans           F            N
33                        2         Cash loans           M            Y
49                        2         Cash loans           M            Y
51                        2         Cash loans           M            Y
...                     ...                ...         ...          ...
307460                    2         Cash loans           M            Y
307477                    2         Cash loans           F            N
307484                    1         Cash loans           F            Y
307492                    2         Cash loans           M            Y
307496                    2    Revolving loans           F            N

       flag_own_realty name_type_suite      name_income_type  \
7                    Y   Unaccompanied         State servant
22                   N   Unaccompanied               Working
33                   N   Unaccompanied  Commercial associate
49                   Y   Unaccompanied               Working
51                   Y   Unaccompanied  Commercial associate
...                ...             ...                   ...
307460               N   Unaccompanied         State servant
307477               Y   Unaccompanied         State servant
307484               N   Unaccompanied  Commercial associate
307492               Y   Unaccompanied               Working
307496               N          Family               Working

                  name_education_type  ... days_birth days_id_publish  \
7                    Higher education  ...   -18850.0         -2379.0
22      Secondary / secondary special  ...   -11146.0         -2518.0
33      Secondary / secondary special  ...   -11694.0         -3557.0
49      Secondary / secondary special  ...   -18264.0         -1797.0
51                   Higher education  ...   -18632.0         -1937.0
...                               ...  ...        ...             ...
307460  Secondary / secondary special  ...   -14391.0         -4468.0
307477               Higher education  ...   -18463.0         -2021.0
307484  Secondary / secondary special  ...   -12847.0           -35.0
307492  Secondary / secondary special  ...   -20965.0         -4410.0
307496               Higher education  ...   -17345.0          -876.0

       ext_source_3 ext_source_2 sk_id_curr amt_income_total amt_credit  \
7          0.540654     0.714279   100010.0         360000.0  1530000.0
22         0.358951     0.457143   100026.0         450000.0   497520.0
33         0.411849     0.321745   100039.0         360000.0   733315.5
49         0.506723     0.523934   100056.0         360000.0  1506816.0
51         0.309275     0.713355   100059.0         540000.0   675000.0
...             ...          ...        ...              ...        ...
307460     0.479449     0.575246   456199.0         382500.0   745429.5
307477     0.667458     0.547811   456217.0         360000.0   796396.5
307484     0.467213     0.739703   456228.0         540000.0   545040.0
307492     0.365617     0.599173   456236.0         585000.0  1575000.0
307496     0.486653     0.512081   456240.0         360000.0   337500.0

        amt_annuity  amt_goods_price  target
7           42075.0        1530000.0       0
22          32521.5         450000.0       0
33          39069.0         679500.0       0
49          49927.5        1350000.0       0
51          34596.0         675000.0       0
...             ...              ...     ...
307460      24354.0         643500.0       0
307477      38443.5         643500.0       0
307484      35617.5         450000.0       0
307492      43443.0        1575000.0       0
307496      16875.0         337500.0       0

[14035 rows x 28 columns]
Anomalies detected in feature 'amt_credit':
       reg_city_not_work_city region_rating_client_w_city  \
60                          0                           2
135                         0                           2
189                         0                           1
235                         0                           2
314                         0                           2
...                       ...                         ...
307216                      0                           1
307252                      0                           2
307401                      0                           2
307422                      0                           2
307476                      0                           2

       region_rating_client name_contract_type code_gender flag_own_car  \
60                        2         Cash loans           F            N
135                       2         Cash loans           M            N
189                       1         Cash loans           M            N
235                       2         Cash loans           F            N
314                       2         Cash loans           M            N
...                     ...                ...         ...          ...
307216                    1         Cash loans           F            Y
307252                    2         Cash loans           M            Y
307401                    2         Cash loans           F            Y
307422                    2         Cash loans           F            N
307476                    2         Cash loans           F            N

       flag_own_realty name_type_suite      name_income_type  \
60                   Y          Family  Commercial associate
135                  Y   Unaccompanied               Working
189                  Y   Unaccompanied  Commercial associate
235                  Y   Unaccompanied               Working
314                  Y   Unaccompanied               Working
...                ...             ...                   ...
307216               Y   Unaccompanied             Pensioner
307252               N          Family  Commercial associate
307401               Y   Unaccompanied             Pensioner
307422               Y          Family             Pensioner
307476               N   Unaccompanied               Working

                  name_education_type  ... days_birth days_id_publish  \
60      Secondary / secondary special  ...   -20121.0         -2177.0
135     Secondary / secondary special  ...   -16086.0         -4584.0
189                  Higher education  ...   -11177.0         -2793.0
235     Secondary / secondary special  ...   -23127.0         -4173.0
314     Secondary / secondary special  ...   -17099.0          -649.0
...                               ...  ...        ...             ...
307216  Secondary / secondary special  ...   -18772.0           -48.0
307252  Secondary / secondary special  ...   -20970.0          -557.0
307401  Secondary / secondary special  ...   -18980.0         -2513.0
307422               Higher education  ...   -22802.0         -5049.0
307476               Higher education  ...   -13790.0         -1798.0

       ext_source_3 ext_source_2 sk_id_curr amt_income_total amt_credit  \
60         0.697147     0.570666   100071.0         180000.0  1663987.5
135        0.669057     0.147685   100157.0         180000.0  1755000.0
189        0.692206     0.693358   100219.0         315000.0  2250000.0
235        0.542450     0.126332   100273.0         157500.0  1710000.0
314        0.786267     0.433919   100361.0         270000.0  1800000.0
...             ...          ...        ...              ...        ...
307216     0.620309     0.774887   455924.0         225000.0  1827549.0
307252     0.692559     0.775036   455969.0         292500.0  1724220.0
307401     0.357293     0.266520   456134.0         135000.0  1718473.5
307422     0.738020     0.668457   456155.0         202500.0  1971072.0
307476     0.771362     0.277728   456216.0         135000.0  1762110.0

        amt_annuity  amt_goods_price  target
60          86989.5        1588500.0       0
135         61132.5        1755000.0       0
189         83515.5        2250000.0       0
235         66262.5        1710000.0       1
314         62698.5        1800000.0       0
...             ...              ...     ...
307216      50386.5        1525500.0       0
307252      50544.0        1350000.0       0
307401      47385.0        1345500.0       0
307422      68643.0        1800000.0       0
307476      48456.0        1575000.0       0

[6562 rows x 28 columns]
Anomalies detected in feature 'amt_annuity':
       reg_city_not_work_city region_rating_client_w_city  \
60                          0                           2
94                          1                           2
112                         0                           1
189                         0                           1
191                         0                           2
...                       ...                         ...
307120                      0                           2
307165                      0                           1
307374                      0                           2
307392                      0                           1
307422                      0                           2

       region_rating_client name_contract_type code_gender flag_own_car  \
60                        2         Cash loans           F            N
94                        2         Cash loans           M            Y
112                       1         Cash loans           F            N
189                       1         Cash loans           M            N
191                       2         Cash loans           F            N
...                     ...                ...         ...          ...
307120                    2         Cash loans           F            N

The results show specific loan applications flagged as anomalies in features like phone change frequency, external data sources, income, credit amount, and goods price. A total of 29,697 anomalies were identified across these features.

We'll create a new feature, `is_anomaly`, to flag these anomalous applications. It will be set to 1 for rows with anomalies in any of the identified features and 0 otherwise. This flag can be used for further analysis and modeling considerations.

In [14]:
pd_application_train["is_anomaly"] = flag_anomalies(
    pd_application_train, all_numerical_features
)
pd_application_test["is_anomaly"] = flag_anomalies(
    pd_application_test, all_numerical_features
)

As we have flagged our outliers, we will move on to the next notebook, where we will perform our EDA. We will save our Pandas DataFrames as Parquet files.

In [15]:
pd_application_train.to_parquet("../data/processed/application_train_prepared.parquet")
pd_application_test.to_parquet("../data/processed/application_test_prepared.parquet")