## **Notebook Overview**

### **0.2.1 Project Overview**

This notebook builds upon the preprocessed data from the previous notebook (`01_data_loading_and_preprocessing.ipynb`) and focuses on feature selection, data preparation, and outlier handling. These steps involve refining the dataset by selecting the most relevant features, handling outliers by flagging them, and preparing the data for machine learning models.

### **0.2.2 Why is This Important?**

Effective feature selection and data preparation are critical to the success of machine learning projects. By reducing the dataset's complexity and addressing data quality issues such as missing values, outliers, and duplicates, we can improve model performance, interpretability, and generalization. Handling outliers is particularly important as they can skew predictions, and flagging them preserves potentially valuable information without directly altering the dataset.

### **0.2.3 Dataset Description**

We are continuing to work with the Home Credit dataset, which contains loan application data. This dataset includes a variety of features related to applicant demographics, financial history, and loan specifics. The data has already been cleaned and memory-optimized in the previous notebook. Now, we focus on feature reduction, outlier handling, and imputation of missing values.

### **0.2.4 Our Approach**

In this notebook, we will employ several techniques for feature selection, outlier handling, and data preparation:

1. **Missing Value Imputation:** We will use KNN imputation for numerical features and mode imputation for categorical features to handle missing data.
2. **Outlier Detection and Flagging:** We will identify outliers using statistical methods such as IQR or Z-scores and flag them by adding a binary feature to indicate the presence of outliers.
3. **Feature Reduction:** We will remove features with high percentages of missing values, low variance, or low correlation with the target variable, while ensuring essential features are retained.
4. **Duplicate Removal:** We will identify and remove duplicate rows to maintain data integrity.
5. **Save Preprocessed Data:** Save the prepared datasets in Parquet format for use in subsequent notebooks (EDA and modeling).

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import polars as pl

from retail_bank_risk.data_preprocessing_utils import (
    analyze_missing_values,
    count_duplicated_rows,
    detect_anomalies_iqr,
    flag_anomalies,
    impute_categorical_features,
    impute_numerical_features,
    initial_feature_reduction,
)

In [3]:
application_train = pl.read_parquet(
    "../data/processed/application_train_preprocessed.parquet"
)
application_test = pl.read_parquet(
    "../data/processed/application_test_preprocessed.parquet"
)

**To improve our training and testing datasets, we will remove features based on missing values, variance, and correlation. Features with a missing value ratio above `missing_threshold` (30%) or a variance below `variance_threshold` will be removed.**

Columns with a variance less than or equal to 0.01 are considered to have insufficient variability and are removed from the dataset. This is because a variance of 0.01 implies very little change in the values of that feature, making it potentially less useful for distinguishing between different observations in predictive modeling tasks.

Additionally, we'll calculate the correlation between numerical features and the target variable (`target`). **We recognize the importance of income in credit risk assessment, so the `amt_income_total` feature will always be retained regardless of its correlation with the target.** Other features that show a low correlation with the target (absolute correlation value below the specified `correlation_threshold` - default 0.05) will be removed.

**This entire feature reduction process will be applied separately to the training and testing datasets. While the criteria (missing value, variance, and correlation thresholds) are determined from the training data, we'll use the same set of selected features to reduce both the training and test datasets.** This ensures consistency in our feature sets and prevents data leakage from the test set into the feature selection process.

This process will improve data quality, reduce dimensionality, and improve the performance of the credit risk model.

In [4]:
essential_features = [
    "sk_id_curr",
    "amt_income_total",
    "amt_credit",
    "amt_annuity",
    "amt_goods_price",
]
target_column = "target"

reduced_train, reduced_test = initial_feature_reduction(
    application_train,
    application_test,
    target_column,
    essential_features=essential_features,
)

print(f"Original number of features in train: {application_train.shape[1]}")
print(f"Number of features in reduced train: {reduced_train.shape[1]}")
print(f"Original number of features in test: {application_test.shape[1]}")
print(f"Number of features in reduced test: {reduced_test.shape[1]}")

sys:1: CategoricalRemappingWarning: Local categoricals have different encodings, expensive re-encoding is done to perform this merge operation. Consider using a StringCache or an Enum type if the categories are known in advance

Original number of features in train: 122
Number of features in reduced train: 25
Original number of features in test: 121
Number of features in reduced test: 24

In [5]:
reduced_train.head()

shape: (5, 25)
┌────────┬────────────┬────────────┬───────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ target ┆ ext_source ┆ days_id_pu ┆ ext_sourc ┆ … ┆ amt_incom ┆ amt_credi ┆ amt_annui ┆ amt_goods │
│ ---    ┆ _2         ┆ blish      ┆ e_3       ┆   ┆ e_total   ┆ t         ┆ ty        ┆ _price    │
│ cat    ┆ ---        ┆ ---        ┆ ---       ┆   ┆ ---       ┆ ---       ┆ ---       ┆ ---       │
│        ┆ f32        ┆ i32        ┆ f32       ┆   ┆ f32       ┆ f32       ┆ f32       ┆ f32       │
╞════════╪════════════╪════════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ 1      ┆ 0.262949   ┆ -2120      ┆ 0.139376  ┆ … ┆ 202500.0  ┆ 406597.5  ┆ 24700.5   ┆ 351000.0  │
│ 0      ┆ 0.622246   ┆ -291       ┆ null      ┆ … ┆ 270000.0  ┆ 1293502.5 ┆ 35698.5   ┆ 1.1295e6  │
│ 0      ┆ 0.555912   ┆ -2531      ┆ 0.729567  ┆ … ┆ 67500.0   ┆ 135000.0  ┆ 6750.0    ┆ 135000.0  │
│ 0      ┆ 0.650442   ┆ -2437      ┆ null      ┆ … ┆ 135000.0  ┆ 312682.5  ┆ 29686.5   ┆ 297000.0  │
│ 0      ┆ 0.322738   ┆ -3458      ┆ null      ┆ … ┆ 121500.0  ┆ 513000.0  ┆ 21865.5   ┆ 513000.0  │
└────────┴────────────┴────────────┴───────────┴───┴───────────┴───────────┴───────────┴───────────┘

As we have adjusted the categorical features, next, we'll identify and handle missing values in the remaining features. Afterward, we'll analyze feature importance to reduce noise and improve model performance.

Given the high number of features (27), we'll analyze the top 5 features in both the training and test datasets to understand their characteristics and determine the most suitable imputation method.

In [6]:
analyze_missing_values(reduced_train, reduced_test)

Top 5 columns with missing values in train set:
shape: (5, 2)
┌─────────────────┬────────────────────┐
│ column          ┆ missing_percentage │
│ ---             ┆ ---                │
│ str             ┆ f64                │
╞═════════════════╪════════════════════╡
│ ext_source_3    ┆ 19.83              │
│ name_type_suite ┆ 0.42               │
│ ext_source_2    ┆ 0.21               │
│ amt_goods_price ┆ 0.09               │
│ amt_annuity     ┆ 0.0                │
└─────────────────┴────────────────────┘

Top 5 columns with missing values in test set:
shape: (4, 2)
┌─────────────────┬────────────────────┐
│ column          ┆ missing_percentage │
│ ---             ┆ ---                │
│ str             ┆ f64                │
╞═════════════════╪════════════════════╡
│ ext_source_3    ┆ 17.78              │
│ name_type_suite ┆ 1.87               │
│ amt_annuity     ┆ 0.05               │
│ ext_source_2    ┆ 0.02               │
└─────────────────┴────────────────────┘

We can see that the credit risk dataset contains some missing values.

Because outliers might be significant in this context, reflecting genuine differences in individual risk levels, outlier treatment will not be performed before KNN imputation for numerical features.

In [7]:
reduced_train, reduced_test = impute_numerical_features(
    reduced_train, reduced_test, target_column
)

Next up, for categorical features with high missing value percentages, we will utilize mode imputation.

This approach, while potentially introducing bias, is deemed suitable due to its simplicity, minimal computational cost, and limited impact on overall dataset representation only few features.

In case of bad results, we could just drop them.

In [8]:
reduced_train, reduced_test = impute_categorical_features(
    reduced_train, reduced_test, target_column
)

Lastly, we confirm if all of the missing values were addressed.

In [9]:
analyze_missing_values(reduced_train, reduced_test)

No missing values found in the train set.
No missing values found in the test set.

Next, we'll address potential duplicate entries in our training dataset.

Although we removed the unique client identifier (`sk_id_curr`) during feature selection, we can still check for duplicates based on a combination of features that should be unique or nearly unique for a single loan application.

We'll focus on exact matches across these features, as even minor variations might represent distinct applications.

If we find any duplicates, we'll remove them to ensure the integrity and quality of our training data.

In [10]:
count_duplicated_rows(reduced_train)

The DataFrame contains 0 duplicated rows.

As we have found no duplicate values, there were no unique id, so we checked on our selected columns, and were seem to not find any of the duplicate values. Next up we will check for outliers, and flag them without removing, as the credit data is sensitive and may indicate sensitive information.

In [11]:
pd_application_train = reduced_train.to_pandas()
pd_application_test = reduced_test.to_pandas()

In [12]:
numerical_features_financial = [
    "ext_source_2",
    "ext_source_3",
    "amt_income_total",
    "amt_credit",
]

numerical_features_loan_specifics = ["amt_annuity", "amt_goods_price"]

numerical_features_timing_history = [
    "days_last_phone_change",
    "days_birth",
    "days_id_publish",
]

all_numerical_features = (
    numerical_features_timing_history
    + numerical_features_financial
    + numerical_features_loan_specifics
)

In [13]:
anomalies = detect_anomalies_iqr(pd_application_train, all_numerical_features)
print("Number of anomalies detected:", len(anomalies))

Anomalies detected in feature 'days_last_phone_change':
       name_contract_type code_gender flag_own_car flag_own_realty  \
2847           Cash loans           M            N               Y
2972      Revolving loans           F            Y               N
4533      Revolving loans           M            Y               Y
4660           Cash loans           F            N               Y
5599           Cash loans           M            Y               Y
...                   ...         ...          ...             ...
304373         Cash loans           F            N               Y
304395         Cash loans           F            N               N
304873         Cash loans           M            Y               N
304878         Cash loans           M            N               Y
306923         Cash loans           M            Y               N

       name_type_suite      name_income_type            name_education_type  \
2847     Unaccompanied               Working  Secondary / secondary special
2972     Unaccompanied             Pensioner               Higher education
4533     Unaccompanied               Working               Higher education
4660     Unaccompanied             Pensioner  Secondary / secondary special
5599     Unaccompanied               Working              Incomplete higher
...                ...                   ...                            ...
304373   Unaccompanied             Pensioner  Secondary / secondary special
304395   Unaccompanied  Commercial associate               Higher education
304873   Unaccompanied               Working  Secondary / secondary special
304878   Unaccompanied             Pensioner  Secondary / secondary special
306923   Unaccompanied               Working  Secondary / secondary special

          name_family_status  name_housing_type region_rating_client  ...  \
2847                 Married  House / apartment                    2  ...
2972                 Married  House / apartment                    1  ...
4533                 Married  House / apartment                    3  ...
4660    Single / not married  House / apartment                    2  ...
5599                 Married  House / apartment                    1  ...
...                      ...                ...                  ...  ...
304373               Married  House / apartment                    1  ...
304395               Married  House / apartment                    2  ...
304873               Married  House / apartment                    1  ...
304878               Married  House / apartment                    2  ...
306923             Separated  House / apartment                    2  ...

       days_id_publish ext_source_3 days_last_phone_change days_birth  \
2847           -4254.0     0.239226                -3845.0   -16176.0
2972           -4839.0     0.591977                -3560.0   -21352.0
4533            -232.0     0.427657                -3528.0   -12331.0
4660           -3561.0     0.326475                -3882.0   -20136.0
5599            -897.0     0.370650                -3856.0   -17341.0
...                ...          ...                    ...        ...
304373         -4580.0     0.661024                -3591.0   -23486.0
304395          -863.0     0.535276                -3559.0   -17342.0
304873         -4115.0     0.288130                -3538.0   -14357.0
304878         -4315.0     0.825636                -3676.0   -21133.0
306923         -2975.0     0.427657                -3628.0   -19429.0

        sk_id_curr  amt_income_total  amt_credit  amt_annuity  \
2847      103323.0          270000.0    630000.0      20322.0
2972      103469.0          405000.0   1125000.0      56250.0
4533      105303.0          193500.0    585000.0      29250.0
4660      105448.0          184500.0    405000.0      32125.5
5599      106554.0          540000.0    450000.0      43969.5
...            ...               ...         ...          ...
304373    452640.0          270000.0   1237954.5      64228.5
304395    452665.0          225000.0   1395000.0      57699.0
304873    453221.0          202500.0   1575000.0      43312.5
304878    453226.0           90000.0    286704.0      14769.0
306923    455594.0          135000.0    808650.0      26217.0

        amt_goods_price  target
2847           630000.0       0
2972          1125000.0       0
4533           585000.0       0
4660           405000.0       0
5599           450000.0       0
...                 ...     ...
304373        1170000.0       0
304395        1395000.0       0
304873        1575000.0       0
304878         247500.0       0
306923         675000.0       0

[435 rows x 25 columns]
No anomalies detected in feature 'days_birth'.
No anomalies detected in feature 'days_id_publish'.
No anomalies detected in feature 'ext_source_2'.
Anomalies detected in feature 'ext_source_3':
       name_contract_type code_gender flag_own_car flag_own_realty  \
374            Cash loans           F            N               Y
970            Cash loans           M            N               Y
991            Cash loans           M            N               Y
1152           Cash loans           F            N               Y
1283           Cash loans           M            Y               Y
...                   ...         ...          ...             ...
305434         Cash loans           F            N               Y
305726         Cash loans           F            N               Y
306408         Cash loans           F            N               N
306430         Cash loans           F            N               N
306557         Cash loans           F            N               N

       name_type_suite      name_income_type            name_education_type  \
374      Unaccompanied               Working  Secondary / secondary special
970      Unaccompanied               Working  Secondary / secondary special
991      Unaccompanied  Commercial associate  Secondary / secondary special
1152     Unaccompanied             Pensioner  Secondary / secondary special
1283            Family               Working  Secondary / secondary special
...                ...                   ...                            ...
305434   Unaccompanied             Pensioner  Secondary / secondary special
305726   Unaccompanied  Commercial associate  Secondary / secondary special
306408   Unaccompanied  Commercial associate  Secondary / secondary special
306430   Unaccompanied               Working  Secondary / secondary special
306557   Unaccompanied               Working  Secondary / secondary special

          name_family_status    name_housing_type region_rating_client  ...  \
374           Civil marriage    House / apartment                    2  ...
970                  Married    House / apartment                    2  ...
991                  Married    House / apartment                    3  ...
1152               Separated    House / apartment                    2  ...
1283                 Married    House / apartment                    2  ...
...                      ...                  ...                  ...  ...
305434  Single / not married    House / apartment                    2  ...
305726               Married  Municipal apartment                    2  ...
306408               Married    House / apartment                    2  ...
306430  Single / not married    House / apartment                    2  ...
306557               Married    House / apartment                    2  ...

       days_id_publish ext_source_3 days_last_phone_change days_birth  \
374            -3101.0     0.000527                 -235.0   -19642.0
970            -1833.0     0.000527                -1269.0   -15481.0
991            -3708.0     0.000527                    0.0   -12102.0
1152           -2346.0     0.000527                    0.0   -21031.0
1283           -1268.0     0.000527                 -878.0   -17714.0
...                ...          ...                    ...        ...
305434         -5025.0     0.000527                   -1.0   -23477.0
305726         -1352.0     0.000527                -1757.0   -18099.0
306408         -1252.0     0.000527                 -817.0   -17717.0
306430         -1197.0     0.000527                 -372.0   -17650.0
306557         -3842.0     0.000527                 -625.0   -13612.0

        sk_id_curr  amt_income_total  amt_credit  amt_annuity  \
374       100431.0          157500.0   1724220.0      47542.5
970       101121.0          180000.0    436032.0      20326.5
991       101147.0          315000.0   1165500.0      34209.0
1152      101350.0           54000.0     81504.0       7866.0
1283      101512.0          135000.0    990000.0      29074.5
...            ...               ...         ...          ...
305434    453870.0           70200.0    239850.0      23850.0
305726    454217.0          202500.0   1024740.0      52452.0
306408    455001.0          108000.0    840951.0      33349.5
306430    455029.0           94500.0     90000.0       8671.5
306557    455177.0          112500.0    360000.0      17509.5

        amt_goods_price  target
374           1350000.0       0
970            360000.0       1
991           1165500.0       1
1152            72000.0       0
1283           990000.0       0
...                 ...     ...
305434         225000.0       0
305726         900000.0       0
306408         679500.0       0
306430          90000.0       0
306557         360000.0       1

[909 rows x 25 columns]
Anomalies detected in feature 'amt_income_total':
       name_contract_type code_gender flag_own_car flag_own_realty  \
7              Cash loans           M            Y               Y
22             Cash loans           F            N               N
33             Cash loans           M            Y               N
49             Cash loans           M            Y               Y
51             Cash loans           M            Y               Y
...                   ...         ...          ...             ...
307460         Cash loans           M            Y               N
307477         Cash loans           F            N               Y
307484         Cash loans           F            Y               N
307492         Cash loans           M            Y               Y
307496    Revolving loans           F            N               N

       name_type_suite      name_income_type            name_education_type  \
7        Unaccompanied         State servant               Higher education
22       Unaccompanied               Working  Secondary / secondary special
33       Unaccompanied  Commercial associate  Secondary / secondary special
49       Unaccompanied               Working  Secondary / secondary special
51       Unaccompanied  Commercial associate               Higher education
...                ...                   ...                            ...
307460   Unaccompanied         State servant  Secondary / secondary special
307477   Unaccompanied         State servant               Higher education
307484   Unaccompanied  Commercial associate  Secondary / secondary special
307492   Unaccompanied               Working  Secondary / secondary special
307496          Family               Working               Higher education

       name_family_status  name_housing_type region_rating_client  ...  \
7                 Married  House / apartment                    3  ...
22                Married   Rented apartment                    3  ...
33                Married  House / apartment                    2  ...
49                Married  House / apartment                    2  ...
51                Married  House / apartment                    2  ...
...                   ...                ...                  ...  ...
307460            Married  House / apartment                    2  ...
307477     Civil marriage  House / apartment                    2  ...
307484            Married   Rented apartment                    1  ...
307492            Married  House / apartment                    2  ...
307496            Married  House / apartment                    2  ...

       days_id_publish ext_source_3 days_last_phone_change days_birth  \
7              -2379.0     0.540654                -1070.0   -18850.0
22             -2518.0     0.358951                 -468.0   -11146.0
33             -3557.0     0.411849                 -697.0   -11694.0
49             -1797.0     0.506723                -1498.0   -18264.0
51             -1937.0     0.309275                -1285.0   -18632.0
...                ...          ...                    ...        ...
307460         -4468.0     0.479449                -1994.0   -14391.0
307477         -2021.0     0.667458                -1353.0   -18463.0
307484           -35.0     0.467213                -1578.0   -12847.0
307492         -4410.0     0.365617                    0.0   -20965.0
307496          -876.0     0.486653                 -826.0   -17345.0

        sk_id_curr  amt_income_total  amt_credit  amt_annuity  \
7         100010.0          360000.0   1530000.0      42075.0
22        100026.0          450000.0    497520.0      32521.5
33        100039.0          360000.0    733315.5      39069.0
49        100056.0          360000.0   1506816.0      49927.5
51        100059.0          540000.0    675000.0      34596.0
...            ...               ...         ...          ...
307460    456199.0          382500.0    745429.5      24354.0
307477    456217.0          360000.0    796396.5      38443.5
307484    456228.0          540000.0    545040.0      35617.5
307492    456236.0          585000.0   1575000.0      43443.0
307496    456240.0          360000.0    337500.0      16875.0

        amt_goods_price  target
7             1530000.0       0
22             450000.0       0
33             679500.0       0
49            1350000.0       0
51             675000.0       0
...                 ...     ...
307460         643500.0       0
307477         643500.0       0
307484         450000.0       0
307492        1575000.0       0
307496         337500.0       0

[14035 rows x 25 columns]
Anomalies detected in feature 'amt_credit':
       name_contract_type code_gender flag_own_car flag_own_realty  \
60             Cash loans           F            N               Y
135            Cash loans           M            N               Y
189            Cash loans           M            N               Y
235            Cash loans           F            N               Y
314            Cash loans           M            N               Y
...                   ...         ...          ...             ...
307216         Cash loans           F            Y               Y
307252         Cash loans           M            Y               N
307401         Cash loans           F            Y               Y
307422         Cash loans           F            N               Y
307476         Cash loans           F            N               N

       name_type_suite      name_income_type            name_education_type  \
60              Family  Commercial associate  Secondary / secondary special
135      Unaccompanied               Working  Secondary / secondary special
189      Unaccompanied  Commercial associate               Higher education
235      Unaccompanied               Working  Secondary / secondary special
314      Unaccompanied               Working  Secondary / secondary special
...                ...                   ...                            ...
307216   Unaccompanied             Pensioner  Secondary / secondary special
307252          Family  Commercial associate  Secondary / secondary special
307401   Unaccompanied             Pensioner  Secondary / secondary special
307422          Family             Pensioner               Higher education
307476   Unaccompanied               Working               Higher education

       name_family_status  name_housing_type region_rating_client  ...  \
60                Married  House / apartment                    2  ...
135               Married  House / apartment                    2  ...
189               Married  House / apartment                    1  ...
235               Married  House / apartment                    2  ...
314               Married  House / apartment                    2  ...
...                   ...                ...                  ...  ...
307216            Married  House / apartment                    1  ...
307252            Married  House / apartment                    2  ...
307401            Married  House / apartment                    2  ...
307422            Married  House / apartment                    2  ...
307476            Married  House / apartment                    2  ...

       days_id_publish ext_source_3 days_last_phone_change days_birth  \
60             -2177.0     0.697147                -1572.0   -20121.0
135            -4584.0     0.669057                    0.0   -16086.0
189            -2793.0     0.692206                 -926.0   -11177.0
235            -4173.0     0.542450                -1246.0   -23127.0
314             -649.0     0.786267                 -991.0   -17099.0
...                ...          ...                    ...        ...
307216           -48.0     0.620309                -2056.0   -18772.0
307252          -557.0     0.692559                -1510.0   -20970.0
307401         -2513.0     0.357293                -1695.0   -18980.0
307422         -5049.0     0.738020                    0.0   -22802.0
307476         -1798.0     0.771362                -2538.0   -13790.0

        sk_id_curr  amt_income_total  amt_credit  amt_annuity  \
60        100071.0          180000.0   1663987.5      86989.5
135       100157.0          180000.0   1755000.0      61132.5
189       100219.0          315000.0   2250000.0      83515.5
235       100273.0          157500.0   1710000.0      66262.5
314       100361.0          270000.0   1800000.0      62698.5
...            ...               ...         ...          ...
307216    455924.0          225000.0   1827549.0      50386.5
307252    455969.0          292500.0   1724220.0      50544.0
307401    456134.0          135000.0   1718473.5      47385.0
307422    456155.0          202500.0   1971072.0      68643.0
307476    456216.0          135000.0   1762110.0      48456.0

        amt_goods_price  target
60            1588500.0       0
135           1755000.0       0
189           2250000.0       0
235           1710000.0       1
314           1800000.0       0
...                 ...     ...
307216        1525500.0       0
307252        1350000.0       0
307401        1345500.0       0
307422        1800000.0       0
307476        1575000.0       0

[6562 rows x 25 columns]
Anomalies detected in feature 'amt_annuity':
       name_contract_type code_gender flag_own_car flag_own_realty  \
60             Cash loans           F            N               Y
94             Cash loans           M            Y               Y
112            Cash loans           F            N               Y
189            Cash loans           M            N               Y
191            Cash loans           F            N               Y
...                   ...         ...          ...             ...
307120         Cash loans           F            N               Y
307165         Cash loans           F            Y               Y
307374         Cash loans           M            Y               Y
307392         Cash loans           F            N               Y
307422         Cash loans           F            N               Y

       name_type_suite      name_income_type            name_education_type  \
60              Family  Commercial associate  Secondary / secondary special
94              Family  Commercial associate              Incomplete higher
112      Unaccompanied  Commercial associate  Secondary / secondary special

The results show specific loan applications flagged as anomalies in features like phone change frequency, external data sources, income, credit amount, and goods price. A total of 29,697 anomalies were identified across these features.

We'll create a new feature, `is_anomaly`, to flag these anomalous applications. It will be set to 1 for rows with anomalies in any of the identified features and 0 otherwise. This flag can be used for further analysis and modeling considerations.

In [14]:
pd_application_train["is_anomaly"] = flag_anomalies(
    pd_application_train, all_numerical_features
)
pd_application_test["is_anomaly"] = flag_anomalies(
    pd_application_test, all_numerical_features
)

As we have flagged our outliers, we will move on to the next notebook, where we will perform our EDA. We will save our Pandas DataFrames as Parquet files.

In [15]:
pd_application_train.to_parquet(
    "../data/processed/application_train_prepared.parquet"
)
pd_application_test.to_parquet(
    "../data/processed/application_test_prepared.parquet"
)